@import url("https://use.typekit.net/ksl0djh.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #9EA4AE;
}

* {
  cursor: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-show {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }
  
  .scrollbar-show::-webkit-scrollbar {
    display: block;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #BFBFBF;
  border-radius: 3px;
  transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #BFBFBF transparent;
}

/* Remove the previous rounded-xl rule as it's not helping */


